<h4>Current Parties</h4>
<ul>
  <% @parties.each do |party| %>
    <li>
    Table: <%= party.table %> <br>
      Name: <%= party.name %>
      <a href="/parties/<%= party.id%>"><%= party.name %></a>


      <%= button_to "x", party_path(party), method: :delete%>

    </li>
  <% end %>
</ul>


<h4>Add New Party</h4>
<%= form_for @party do |f| %>
  <%= f.label 'Last Name' %>
  <%= f.text_field :name %>
  <%= f.label 'Number of Guests' %>
  <%= f.number_field :count %>
  <%= f.label 'Table' %>
  <%= f.number_field :table %>
  <%= f.submit %>
<% end %>
