<%= stylesheet_link_tag    'parties', media: 'all', 'data-turbolinks-track' => true %>

<h5>Order for Table <%= @party.table %> </h5>
<h5>Last Name: <%= @party.name %> </h5>


<ul>
  <% @party.orders.each do |order| %>
  <li>
    <% if order.food_item %>
    <%= order.food_item.name %>.... <span>$<%= '%.2f' % order.food_item.price %></span> <%= button_to "x", order_path(order), class: 'waves-effect waves-light red lighten-1 btn', method: :delete%>
    <% end %>
  </li>

  <% end %>


</ul>
<%= form_for @order do |f| %>
  <%= f.collection_select(:food_item_id, FoodItem.all, :id, :name, class: 'browser-default') %>
  <%= f.hidden_field :party_id, :value => @party.id%>
  <%= f.submit 'Add Item', class: 'waves-effect waves-light red lighten-1 btn'%>
<% end %>

<h6>Order Total: $<%= '%.2f' % @party.balance() %></h6>
