<%= link_to 'Back', parties_path %>
<h4>Order for Table <%= @party.table %> </h4>
<h4>Last Name: <%= @party.name %> </h4>


<ul>
  <% @party.orders.each do |order| %>
  <li>
    <% if order.food_item %>
    <%= order.food_item.name %>.... $<%= '%.2f' % order.food_item.price %> <%= button_to "x", order_path(order), method: :delete%>
    <% end %>
  </li>

  <% end %>


</ul>
<%= form_for @order do |f| %>
  <%= f.collection_select(:food_item_id, FoodItem.all, :id, :name, class: 'browser-default') %>
  <%= f.hidden_field :party_id, :value => @party.id%>
  <%= f.submit 'Add Item' %>
<% end %>
<%= '%.2f' % @party.balance() %>
