<%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>

<h2>Staff</h2>

<ul class="list">
  <% @users.each do |user| %>
    <li class="card-panel hoverable">
      <%= user.name %> <%= link_to user_path(user), method: :delete do %>
      <i class="material-icons">not_interested</i>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="card-panel hoverable" id="form-id">
  <%= form_for @user do |f| %>
    <%= f.label 'NEW USER' %>
    <%= f.text_field :name %>

    <%= f.submit class: 'waves-effect waves-light deep-purple btn' %>
  <% end %>
</div>

<ul>
  <li><%= link_to "Log Out", sessions_path, method: :delete, class: 'waves-effect waves-light deep-purple btn' %></li>
</ul>
