<li><%= link_to "Home", root_path%></li>
<h2>Orders</h2>

<ul>
  <% @orders.each do |order| %>
    <li>
      <%= link_to "Table:", order_path(order) %>" <%= order.party.name %> <br>
      Order: <%= order.food_item.name %> <br>
      <%= button_to "x", order_path(order), method: :delete%>
    </li>
  <% end %>
</ul>
