<ul>
    <li><%= link_to "Home", root_path%></li>
</ul>
<h3>New Order</h3>

<%= form_for @order do |f| %>
  <%= f.collection_select(:food_item_id, FoodItem.all, :id, :name, class: 'browser-default') %>
  <%= f.collection_select(:party_id, Party.all, :id, :name, class: 'browser-default') %><br>
  <%= f.submit %>
<% end %>
